---
import BlogDetails from '../../components/Blog/BlogDetails.jsx';
import FormNavbar from '../../components/Navbar/FormNavbar.jsx';
import { blogData } from '../../utils/blogData';
import '../../pages/index.css';

export async function getStaticPaths() {
	return blogData.map(blog => ({
		params: { id: blog.id.toString() },
		props: { blogData: blog }
	}));
}

const { id } = Astro.params;
const { blogData: blog } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{blog.title} - Hexepica</title>
		<meta name="description" content={`Read about ${blog.title}. A ${blog.readTime} read about ${blog.genre}.`} />
	</head>
	<body>
		<FormNavbar client:load />
		<main>
			<BlogDetails blogId={id} client:load />
		</main>
	</body>
</html> 